.detalles-section {
  margin-top: 20px;
}
.container {
  display: flex;
  height: 100vh;
}



.main-content {
  width: 75%;
  padding: 20px;
}
.detalles-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f1f1f1;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 10px;
}

.detalles-header span {
  flex: 1;
  text-align: center;
}

.detalle-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.detalle-row .form-control {
  flex: 1;
  margin: 0 5px;
}

.cantidad-input,
.precio-input {
  text-align: center;
}

.eliminar-detalle {
  flex: 0 0 auto;
  background-color: #e63946;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.eliminar-detalle:hover {
  background-color: #d32f2f;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #5cb85c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="button"] {
  background-color: #d9534f;
  margin-left: 10px;
}

button:hover {
  background-color: #4cae4c;
}

button[type="button"]:hover {
  background-color: #c9302c;
}
.detalles{
  display: flex;
}
i{
  font-size: 20px;
}
.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container .form-control {
  flex: 1;
  margin-right: 0.5rem;
}

.btn-crear {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-crear:hover {
  background-color: #0056b3;
}
.example-full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.input-container .form-control,
.input-container .mat-form-field {
  flex: 1;
}

.mat-form-field {
  width: 100%;
  margin-right: 0.5rem;
}

.mat-form-field-underline {
  display: none;
}

.mat-form-field-infix {
  border-bottom: 2px solid #007bff; /* Color del borde inferior */
  padding: 0.5rem 0;
}

.mat-option {
  font-family: inherit; /* Asegúrate de usar la misma fuente */
}


