<div class="main-content">
  <main>
    <header class="header">
      <h2>Gestion de Laboratorios</h2>
      <div class="actions">
        <button class="btn red" (click)="mostrarFormLaboratorio('otro', null)">
          Agregar Laboratorio
        </button>
        <input type="text" placeholder="Buscar Producto" class="search" />
      </div>
    </header>

    <section class="table-section">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Ubicacion</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let laboratorio of laboratorios">
            <td>{{ laboratorio.nombre }}</td>
            <td>{{ laboratorio.ubicacion }}</td>
            <td>
              <button (click)="mostrarFormLaboratorio('editar', laboratorio)">
                <i class="bx bxs-edit btn-editar"></i>
              </button>
              <button (click)="borrarLaboratorio(laboratorio.id)">
                <i class="bx bxs-trash btn-eliminar"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
</div>

<!-- Modal -->
<div class="modal" *ngIf="mostrarModal">
  <div class="modal-content">
    <h1>{{ tituloFormulario }}</h1>
    <form (ngSubmit)="actualizarLaboratorio()">
      <div class="input-container">
        <label for="nombre">Nombre:</label>
        <input
          type="text"
          id="nombre"
          [(ngModel)]="laboratorioNuevo.nombre"
          name="nombre"
          required
        />
      </div>
      <div class="input-container">
        <label for="ubicacion">Ubicaion:</label>
        <input
          type="text"
          id="ubicacion"
          [(ngModel)]="laboratorioNuevo.ubicacion"
          name="ubicacion"
          required
        />
      </div>
      <button type="submit" class="modal-btn" (click)="guardarLaboratorio()">
        Aceptar
      </button>
      <button
        type="button"
        class="modal-btn cancel-btn"
        (click)="cerrarFormLaboratorio()"
      >
        Cancelar
      </button>
    </form>
  </div>
</div>
