<div>
  <aside class="sidebar">
    <div class="logo">
      <div class="icono"></div>
      <h1>Farmacia Stephanie</h1>
    </div>
    <nav class="menu">
      <ul>
        <li><a routerLink="/inventario">Inventario</a></li>
        <li><a routerLink="/venta">Registro de Ventas</a></li>
        <li><a routerLink="/reporte">Reporte</a></li>
      </ul>
    </nav>
    <nav><a routerLink="/inventario">Home</a> <a routerLink="/venta">About</a></nav>
  </aside>
  <router-outlet></router-outlet>
</div>
