<div class="main-content">
  <main>
    <header class="header">
      <h2>Gestion de Categorias</h2>
      <div class="actions">
        <button class="btn red" (click)="mostrarFormCliente('otro', null)">
          Agregar Categoria
        </button>
        <input type="text" placeholder="Buscar Producto" class="search" />
      </div>
    </header>

    <section class="table-section">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let categoria of categorias">
            <td>{{ categoria.nombre }}</td>
            <td>
              <button (click)="mostrarFormCliente('editar', categoria)">
                <i class="bx bxs-edit btn-editar"></i>
              </button>
              <button (click)="borrarCliente(categoria.id)">
                <i class="bx bxs-trash btn-eliminar"></i>
              </button>
            </td>

          </tr>
        </tbody>
      </table>
    </section>
  </main>
</div>

<!-- Modal -->
<div class="modal" *ngIf="mostrarModal">

  <div class="modal-content">
    <h1>{{ tituloFormulario }}</h1>
    <form (ngSubmit)="actualizarCategoria()">

      <div class="input-container">
        <input
          type="text"
          id="nombre"
          [(ngModel)]="categoriaNueva.nombre"
          name="nombre"
          required
        />
        <label for="nombre" class="label">Nombre</label>
        <div class="underline"></div>
      </div>

      <button type="submit" class="modal-btn" (click)="guardarCategoria()">Aceptar</button>
      <button type="button" class="modal-btn cancel-btn" (click)="cerrarFormCliente()">Cancelar</button>
    </form>
  </div>
</div>


