<div class="container">
  <h2>Gestión de Productos</h2>

  <!-- Buscador de productos -->
  <div class="input-container">
    <label for="nombreProducto">Buscar producto:</label>
    <input
      type="text"
      id="nombreProducto"
      autocomplete="off"
      (input)="buscarProductos($event)"
      [(ngModel)]="nombreProducto"
      placeholder="Nombre del producto"
    />
    <div class="autocomplete-list" *ngIf="productosFiltrados.length">
      <div
        *ngFor="let producto of productosFiltrados"
        (click)="seleccionarProducto(producto)"
        class="autocomplete-item"
      >
        {{ producto.nombre }}
      </div>
    </div>
    <button (click)="buscarProducto()">Buscar</button>
  </div>

  <!-- Resultados de búsqueda -->
  <div *ngIf="productoSeleccionado" class="producto-detalle">
    <h3>Producto Seleccionado</h3>
    <p><strong>Nombre:</strong> {{ productoSeleccionado.nombre }}</p>
    <p><strong>Categoría:</strong> {{ productoSeleccionado.categoria }}</p>
    <p><strong>Unidades en Stock:</strong> {{ productoSeleccionado.stock }}</p>
    <p>
      <strong>Punto de Reorden:</strong> {{ productoSeleccionado.puntoReorden }}
    </p>
    <p>
      <strong>Predicciones:</strong>
    </p>

    <div *ngIf="resumenPredicciones.length > 0; else noData">
      <ul class="list-disc px-5">
        <div *ngFor="let prediccion of resumenPredicciones">
          <div *ngIf="prediccion.proba > 0">
            <li>
              Si el estado actual es
              <strong>{{ prediccion.estadoOrigen }}</strong
              >, hay un <strong>{{ prediccion.probabilidad }}</strong> de que
              pase a <strong>{{ prediccion.estadoDestino }}</strong
              >.
            </li>
          </div>
        </div>
      </ul>
    </div>

    <ng-template #noData>
      <p class="text-center text-gray-600">
        No hay datos disponibles para este producto.
      </p>
    </ng-template>

    <div *ngIf="productoSeleccionado.stock < productoSeleccionado.puntoReorden">
      <p class="alerta">
        Este producto está cerca de agotarse. ¿Deseas calcular la cantidad
        optima de pedido?
      </p>
      <label for="costoPedido">Costo de Pedido:</label>
      <input type="number" id="costoPedido" [(ngModel)]="costoPedido" />
      <label for="costoAlmacenamiento">Costo de Almacenamiento:</label>
      <input
        type="number"
        id="costoAlmacenamiento"
        [(ngModel)]="costoAlmacenamiento"
      />
      <button (click)="calcularEOQ()">Calcular EOQ</button>
    </div>
  </div>

  <!-- Mostrar mensaje si no hay producto encontrado -->
  <div *ngIf="productoNoEncontrado">
    <p>No se encontró ningún producto con ese nombre.</p>
  </div>
</div>
<div *ngIf="verModalAlerta" class="modal">
  <div class="modal-content">
    <h2>EOQ Calculado</h2>
    <p><strong>EOQ:</strong> {{ productoAct.eoq }}</p>
    <p><strong>Punto de Reorden:</strong> {{ productoAct.puntoReorden }}</p>
    <button (click)="cerrarModalAlerta()">Cerrar</button>
  </div>
</div>
