.container {
  display: flex;
  height: 100vh;
}

.main-content {
  width: 100%;
  padding: 20px;
}

.graphs {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.graph {
  width: 45%;
}

.table-section {
  margin-top: 20px;
}




canvas {
  max-width: 100%;
  height: auto;
}
