<div class="main-content">
  <main>
    <header class="header">
      <h2>Clientes</h2>
      <div class="actions">
        <button class="btn red" (click)="mostrarFormCliente('otro', null)">
          Agregar Cliente
        </button>
        <input type="text" placeholder="Buscar Producto" class="search" />
      </div>
    </header>

    <section class="table-section">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>E-mail</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.direccion }}</td>
            <td>{{ cliente.telefono }}</td>
            <td >{{ cliente.email }}</td>
            <td>
              <button (click)="mostrarFormCliente('editar', cliente)">
                <i class="bx bxs-edit btn-editar"></i>
              </button>
              <button (click)="borrarCliente(cliente.id)">
                <i class="bx bxs-trash btn-eliminar"></i>
              </button>
            </td>

          </tr>
        </tbody>
      </table>
    </section>
  </main>
</div>

<!-- Modal -->
<div class="modal" *ngIf="mostrarModal">
  <div class="modal-content">
    <h1>{{ tituloFormulario }}</h1>
    <form (ngSubmit)="actualizarCliente()">
      <div class="input-container">
        <input
          type="text"
          id="nombre"
          [(ngModel)]="clienteNuevo.nombre"
          name="nombre"
          required
        />
        <label for="nombre" class="label">Nombre</label>
        <div class="underline"></div>
      </div>

      <div class="input-container">
        <input
          type="direccion"
          type="text"
          id="direccion"
          [(ngModel)]="clienteNuevo.direccion"
          name="direccion"
          required
        />
        <label for="direccion" class="label">Direccion</label>
        <div class="underline"></div>
      </div >
      <div class="input-container">
        <input
          type="email"
          id="email"
          [(ngModel)]="clienteNuevo.email"
          name="email"
          required
        />
        <label for="email" class="label">Email</label>
        <div class="underline"></div>
      </div>
      <div class="input-container">
        <input
          type="text"
          id="telefono"
          [(ngModel)]="clienteNuevo.telefono"
          name="telefono"
          required
        />
        <label for="telefono" class="label">Teléfono</label>
        <div class="underline"></div>
      </div>
      <button type="submit" class="modal-btn" (click)="guardarCliente()">Aceptar</button>
      <button type="button" class="modal-btn cancel-btn" (click)="cerrarFormCliente()">Cancelar</button>
    </form>
  </div>
</div>


