<div>
  <aside class="sidebar">
    <div class="logo">
      <div class="icono"></div>
      <h1>Farmacia Stephanie</h1>
    </div>
    <nav class="menu">
      <ul>
        <li><a routerLink="/inventario" routerLinkActive="active" ariaCurrentWhenActive="page">Inventario</a></li>
        <li><a routerLink="/venta" routerLinkActive="active" ariaCurrentWhenActive="page">Registro de Ventas</a></li>
        <li><a routerLink="/reporte" routerLinkActive="active" ariaCurrentWhenActive="page">Reporte</a></li>
      </ul>
    </nav>
  </aside>
</div>
